@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header*/

header{
    height: 3.5em;
}
.nav-barra {
    height: 100%;
    width: 100%;
    padding: 13px 20px;
}
.nav-barra ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}
.nav-barra ul li{
    margin-left: 0.5em;
}
.nav-barra ul li a{
    color: black;
}
.nav-barra ul li a:hover{
    text-decoration: underline;
}
.user-icone{
    background-color: hotpink;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icone-menu{
    margin: 0.5em;
}
.user-icone:hover{
    background-color: rgb(175, 175, 175);
    transition-delay: 0.2;
}

/* Content */
.content-selection{
    border: 1px solid violet;

    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
} 
.content-central{
   border: 1px solid yellow;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 100px;
}
.logo{
    width: 300px;
    margin-bottom: 20px;
}
.campo-pesquisa{
    border: 1px solid rgb(187, 184, 184);
    width: 600px;
    height: 40px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.campo-pesquisa:hover{
    box-shadow: 0px 0px 4px 0px rgb(139, 139, 139);
}
.campo-pesquisa i{
    color: gray;
    font-size: 1em;
    margin-right: 15px;
    cursor: pointer;
}
.campo-pesquisa input{
    flex-grow: 1;
    height: 2.2em;
    margin-right: 15px;
    font-size: 1em;
    border: none;
}
.btn{
    margin-top: 30px;
}
button{
    height: 35px;
    font-size: 14px;
    border: none;
    margin-left: 0.8em;
    color: black;
    background-color: rgb(190, 190, 190);
    
}
